@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: 'Montserrat', sans-serif; */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #faf6f0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #faf6f0;
}

body::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 20px;
    border: 3px solid #faf6f0;
}

/* TEXTOS */

h1 {
    font-size: 52px;
    color: #007ab6;
}

h2 {
    font-size: 36px;
    color: #007ab6;
}

.paragrafo-1 {
    font-size: 26px;
    color: #2c2c2c;
    font-weight: 400;
}

li {
    margin-bottom: 30px;
}

hr {
    border: none;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    border-width: 0 0 1px 0;
}

/*  */

.frame-header {
    width: 100%;
}

p, body {
    margin: 0;
}

.container-all {
    width: calc(100% - 200px);
    max-width: 1980px;
    margin: auto;
}

/* HEADER */

header {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #007ab6;
}

.container-all--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    padding: 0 10px;
    height: 40px;
}

.header__comgas {
    height: 30px;
}

.header__icons {
    display: flex;
    gap: 30px;
}

.header__icons img {
    cursor: pointer;
    transition: 0.2s;
}

.header__icons img:hover {
    opacity: 0.8;
    transition: 0.2s;
}